.yourpage-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
}
.yourpage-page .site-logo {
  font-size: 72px;
  font-weight: bold;
}
